.body {
    overflow-x: hidden;
    overflow-y: hidden;
}
.iti {
    width: 100% !important;
}

.hidden {
    display: none;
}

label span.required {
    color: #dc3545;
    margin-left: 3px;
}

.error-text {
    color: #dc3545;
    font-size: 0.875rem;
    display: none;
    margin-top: 4px;
}

.info-box {
    background: #f1f3f5;
    font-size: 0.9rem;
    color: #555;
    padding: 6px 10px;
    border-radius: 6px;
    margin-top: 5px;
}

.otp-status {
    position: absolute;
    right: 10px;
    top: 31px;
    font-size: 1.6rem;
    display: none;
}

.otp-valid {
    color: #28a745;
}

.otp-invalid {
    color: #dc3545;
}

.thankyou {
    text-align: center;
    padding: 40px 20px;
}

    .thankyou img {
        width: 100px;
        margin-bottom: 20px;
        animation: bounce 1.5s infinite;
    }

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}

.error-tooltip {
    position: absolute;
    top: -30px;
    left: 0;
    z-index: 1000;
    padding: 5px 10px;
    background-color: #dc3545 !important;
    color: white;
    border-radius: 4px;
    font-size: 0.75rem;
    white-space: nowrap;
}

    .error-tooltip::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 10px;
        border-width: 5px;
        border-style: solid;
        border-color: #dc3545 transparent transparent transparent;
    }